@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("bg.jpg") ;
    font-family: 'Poppins', sans-serif ;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.box {
    background-image: url("Password_forget_bg%20(2).jpg") ;
    background-color: darkgray;
    text-align: left;
    border: 2px solid;
    padding: 20px;
    border-radius: 10px ;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
label {
    font-size: 24px ;
}
.button {
    align-self: center;
    text-align: center;
    cursor: pointer;
    border: 2px solid;
    height: 40px;
    width: 100px;
    background-color: green;
    border-radius: 10px;
    color: white;
}
.A1 {
    border-radius: 8px ;
}
h1 {
    color: white ;
}
